
/* ------------------------- typos -----------------------------------*/

/* 3 typos donc 3 @fontface */
@font-face {
    font-family: "Montserrat-Regular"; 
    src: url("fonts/Montserrat-Regular.ttf"); 
}
@font-face {
    font-family: "Montserrat-SemiBold"; 
    src: url("fonts/Montserrat-SemiBold.ttf"); 
}
@font-face {
    font-family: "Montserrat-Bold"; 
    src: url("fonts/Montserrat-Bold.ttf"); 
}

@font-face {
    font-family: "abode"; 
    src: url("fonts/JKAbode-usageperso.ttf"); 
}

@font-face {
    font-family: "dcglitch"; 
    src: url("fonts/DoctorGlitch.otf"); 
}

/* --------------------- Permet de définir les dimensions et propriétés de la page ----------------------*/

body{
    margin: 0px;
    padding: 0px;

    background: linear-gradient(#000000, #030303);
    width: 90; /* permet de prendre 100% du viewport */
    /*height: 100vh; /* viewport vh (height) vw (width : largeur) avec une valeur relative 100 pour 100% */

    font-style: normal;
    font-weight: normal;
    font-size: 16pt;
    line-height: 1.3em;
    font-family: "Montserrat-Regular", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    
    /*border: 5px solid red;*/
    text-align: center;
    
}

h1 {
    font-size: 48px;
    font-family: "dcglitch", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
}

h2 {
    font-size: 40px;
    font-family: "Montserrat-Bold", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
    padding-top: 50px;
}
#accroche{
    font-weight: bold;
}

/* ----------------------- Couleur des liens ---------------------- */
a:link{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    font-family: "Montserrat-Regular", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
}
a:visited{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    font-family: "Montserrat-Regular", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}


/* cta */
.cta{
    width: 150px;
    height: auto;
    width: auto;
    height: 15px;
    font-size: 16pt;
    font-weight: bolder;
    font-family: "Montserrat-Regular", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
    padding: 10px 15px 25px 15px;
    margin: auto;
    text-align: center;
    /*margin-top: 50px;
    margin-bottom: 50px;*/

    background-color: #6e14c1;
}


/* --------------------------------------------------------------
                            HEADER
---------------------------------------------------------------- */

/* emplacement logo */
.haut{
    width: 100%;
    max-height: 142px;
    margin: auto;
    background-color: #100b17;
        /*border: 3px solid rgb(204, 185, 185);*/
}
.haut img{
    width: auto;
    height: 100px;
}


/* Création du menu simple */
nav{
    margin: 0px auto;
    width: 100%;
    background-color: #100b17;
    border-top: 1px solid #9f9da2;
    border-right: 0px solid #9f9da2;
    border-bottom: 0px solid #9f9da2;
    border-left: 0px solid #9f9da2;

    /*border-top: 1px solid #9f9da2;*/

    position: sticky;
    top: 0px;
}

/*Création de cette div juste pour assurer le centrage des cases liens dans la nav*/
.pourcentrer{
    display: flex;
    width: 100%;
    margin: auto; 
    text-align: center;
    justify-content: center;
    
    background-color: #100b17;
    
    /*border: 3px solid rgb(204, 185, 185);*/
}

nav > div > ul{
    margin: 0px;
    padding: 0px;

    /*border: 1px solid  rgb(255, 0, 191);*/
}

nav div ul li{
    float: left; /* élément flottant à gauche */
    /* quand un élément parent est non flottant (ici ul) et comporte des enfants flottant (ici li), celui-ci ne s'affiche plus car il perd sa hauteur*/
    /* pour résoudre ce problème, on pourrait mettre un élément hidden mais pas dans ce cas, sinon on ne verra plus nos sous-menu par la suite : ils seront hidden*/
    position : relative;
    
    /*border: 1px solid  rgb(9, 255, 0);*/

}

/* la solution est la suivante  clearx 
Synthaxe compliquée et immuable pour corriger notre problème.
C'est une fonction difficile à retrouver, qu'il faut connaître */
nav div ul::after{
    content: ""; /* création d'un contenu vide */
    display: block;
    clear: both; 
}


/* ----------------------------------------------------- liens du menu */

nav div ul li a{ 
    padding: 20px 30px;
    font-size: 14pt;
    font-weight: normal;
    color: #9f9da2;
}
nav div ul li a:hover{ 
    padding: 20px 30px 15px 30px; /* rectification de padding */
    border-bottom: 5px solid #8820e8;
    font-weight: bolder;
    color: #d5d5d5;
}

nav li{ 
    list-style-type: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12pt;
    color: #9f9da2;
}

/* ----------------------------------------------------- liens du sous-menu */

.submenu{
    font-size: 14pt;
    font-weight: normal;
    color: #9f9da2;
    background-color: #000000;
    
}

.submenu li{
    width: 250px;
    height: 47px;
    padding: 10px 10px;
    text-transform: none;
    text-align: left;
    font-weight: normal;
    border: 0px;
    color: #d5d5d5;
}

.submenu li a:hover{ /* état des cases du sous-menu au survol */
    border: 0px;
    width: 70%;
    border-bottom: 5px solid #8820e8;
    padding-bottom: 5px;

}

/* ----------------------------------- */


nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 15px;
}

nav li:hover .submenu{ /* affichage du sous-menu */
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}

.submenu{
    display: none; /* cache les div de sous-menu nommées "submenu" */
    padding: 0px;
    margin: 0px;
}


/* -------------------------------------------------------------------------------
                              Contenu de la page
  ----------------------------------------------------------------------------------------*/

/* ---------------page 404 -------------*/

.page404{
    max-width: 100vw;
    height: 75vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Titre404{
    font-size: 200px;
    font-family: "dcglitch", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    margin-top: 10%;
}
.error{
    font-size: 30px;
    font-family: "dcglitch", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    margin-left: 30px;
}
.retour{
    min-width: 90vw;
}

/* ---------------page à propos -------------*/


.photocollab{
    width: 100%;
    height: 100vh;
    min-height: 177px;
    background-image: url("images/arcane-maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    font-size: 32px;
    font-family: "Montserrat-Bold", Verdana, Tahoma, sans-serif;
    color: #d5d5d5;
    text-transform: uppercase;
    line-height: 50px;
    margin: auto;
}


/* --------------------------------------------------------------
                             VITRINE
----------------------------------------------------------------- 
--------------------------------------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------------*/
.couleurmv{
    width: 100%;
    background-color: #100b17;
}
.couleurkangoo{
    width: 100%;
    background-color: #9F9DAE;
}

#aproposvitrine{
    /*background-color: #221831;*/
    width: 80%;
    text-align: center;
    margin: auto;
}
.parentvitrine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-content: flex-end;*/

    flex-wrap: wrap;
    margin: auto;
    align-items: flex-end;
    /*border: 2px solid green;*/
}
.enfantvitrine{
    width:32%;
    height: auto;
    min-width: 360px;
    text-align: center;
    padding-top: 20px;

    /*border: 2px solid rgb(0, 6, 128);*/
}


.parentvitrine img{
    display: inline-block;
    width: 80%;
}
#pourcta{
    margin: auto;
    align: center;
}

/* fin de vitrine -----------------*/

#aproposmistermv{
    /*background-color: #221831;*/
    width: 80%;
    text-align: center;
    margin: auto;
        /*border: 2px solid green;*/

}
.parentmv{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    /*border: 2px solid green;*/
}
.enfantmg{
    width: 32%;
    height: auto;
    min-width: 360px;
    text-align: left;
    /*margin-top: 50px;*/

    /*border: 2px solid rgb(0, 6, 128);*/
}
.parentmv img{
    display: inline-block;
    width: 80%;
}
#pourcta{
    margin: auto;
    align: center;
}


section{
    /*border: 2px solid yellow;*/
    /*background-color: #9F9DAE;*/
    margin: 10px 0px 100px 0px;
}



#aproposkangoo{
    /*background-color: #9F9DAE;*/
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
.parentkangoo{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;

    /*border: 2px solid green;*/
}
.enfantkangoo{
    width: 32%;
    height: auto;
    min-width: 360px;
    text-align: left;

    /*border: 2px solid rgb(0, 6, 128);*/
}
.parentkangoo img{
    display: inline-block;
    width: 100%;
}
#bloc4{
    width: 100%;
    min-width: 360px;

}

.lignebasse{
    width: 80%;
    height: 2px;
    margin: auto;
    padding: 50px;
    border-bottom: 2px solid #6e14c1;
    
}




/* --------------------------------------------------------------
                            FOOTER
---------------------------------------------------------------- */

footer{
    width: 100%;
    height: 240px;
    /*background-color: #100b17;*/
    text-align: center;
    font-size: 14pt;
    color: #d5d5d5;

    border-top: 0px solid #9f9da2;
    border-right: 0px solid #9f9da2;
    border-bottom: 1px solid #9f9da2;
    border-left: 0px solid #9f9da2;
    /*border: 5px solid red;*/
}
footer a{
    text-decoration: none;
    font-size: 12pt;
    font-weight: normal;
    color: #9f9da2;
}
footer a:hover{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bolder;
    color: #d5d5d5;
}
.liensfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
footer .item_titre{
    padding: 10px 0px 15px 0px;
    text-transform: uppercase;
}

footer .rs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rs img{
    width: 36px;
    padding: 0px 5px 10px 5px;
}


footer .credits{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    /*background-color: #100b17;*/

    width: 100%;
    height: 40px;

    font-size: 12px;       
    /* padding-left: 40px; */ /* Si on active cela, on arrive sur un scroll horizontal à l'opposé de 40px */
}
.credits img{
    display: inline-block;
    height: 15px;
    padding: 7px 5px 5px 5px;
}
.site{
    margin-left: 40px;
}

